<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Evitar problemas si el archivo o carpeta existe
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirigir todo a index.html (Vue Router)
  RewriteRule ^ index.html [L]
</IfModule>
